# в serial указать путь до платки, подробнее есть в вики
[mcu]
serial:

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_z_velocity: 25
max_z_accel: 30

[temperature_sensor Raspberry_Pi]   # температура расбери, имя можно изменить
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[include macro.cfg]